/*body {
    transform: translate3d(0px, 0px, 0px);
    transition: all 700ms ease;
}*/
h3{
    color: white;
}
.container{
    height: 100vh !important; 
    width: 100% !important; 
    max-width: none !important;
}
.logo{
    height: 50px;
    margin-top: -70%;
}
.navbar{
    display: none;
}
.navlogo{
    height: 40px;
    margin: auto;
}
#text{
    font-size: 24px; 
    margin-top: 25px; 
    padding-right: 100px;
}
.slider img{
    width: auto;
    height: 100%;
    margin: auto;
    padding-top: 5%;
}
.box{
    height: 90vh;
}
footer{
    width: 100%;
    color: white;
    background-color: black;
}
footer ul{
    text-decoration: none;
}

footer ul li{
    padding: 5px;
}

@media only screen and (max-width: 1180px) {
    #pictureRight{
        margin-left: 25%;
    }
  }

/*@media screen {
    .container{
        height: 50vh;
    }
    .logo{
        height: 24px;
        margin-top: -50%;
    }

    #text{
        font-size: 14px;
    }

    img{
        height: 44vh;
    }
}*/