body{
    background: #26A247;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

.navbar{
    position: fixed;
    font-weight: bold;
    font-size: large;
    font-size: 20px;
    background-color: white;
    z-index: 100;
}

.navbar .active{
    text-decoration: underline 3px;
    color: red;
}

.nav-item{
    padding: 10px;
}

.containe{
    padding: 10;
}

h1{
    font-weight: bolder;
    font-size: 104px;
}

h3{
    font-weight: bold;
}

.imghalf :hover{
    scale: 1.2;
    -webkit-transition: 1s ease-out;
}

.text{
    font-weight: bold;
    font-size: 32px;
}

.grayhover:hover{
    opacity: 0.7;
}

.plantimage{
    position: relative;
    background: left;
    background-repeat: no-repeat;
    background-image: url(https://images.ctfassets.net/lcr8qbvxj7mh/4fF2yebn9YRa96J1V0nbzg/b62b80be370a284b258be60c42c2d99a/CactusBG_InteractiveProductPage_1600x900_reduced.png);
}

.plant{
    margin-top: -100px; 
    margin-left: -100%;
    max-height: 600px;
    animation: fadeInRight 2s ease-in-out;
}

.sliderimg{
    max-width: 100%;
    height: 512px;
    transition: all 1s ease-in-out;
}

.sliderimg :hover{
    scale: 1.2;
    -webkit-transition: 1s ease-in-out;
}

footer{
    background-color: white;
    color: black;
}

.list a{
    text-decoration: none;
    color: black;
    list-style: none;
}

.list a :hover{
    text-decoration: none;
    color: black;
}

.col-lg-4{
    padding-top: 5%;
    padding-bottom: 5%;
}

.bar{
    height: 50px;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

.aufklapp_titel{
    width: 95%;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom:-14px;
  }

  .plus{
    cursor: pointer;
    font-size: x-large;
    transition: transform .5s ease-in-out;
  }

  .plus:hover{
    transform: rotate(180deg);
  }

  .cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}

.fadeInRight{ animation-name: fadeInRight;}
@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(2000px);
    }
    to {
      opacity: 1;
    }
  }

footer li{
    margin-bottom: -20px;
    font-size: 20px;
    list-style: none;
}

footer li :hover{
    color: black !important;
    text-decoration: underline black 2px;
}


.square {
    position: fixed;
  }
  
  .square-1 {
    width: 100px;
    height: 100px;
    background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBYVFRYWFRUYFhgZHB4dHRwcGB0dHx4YHxoaGhgZHhwcIS4lHCErHxwYJzgnLTAxNTo1HiQ7QDszPy40NTEBDAwMEA8QHhISHjErJSs0NDQ1MTQ0PzY9NDY0NDQ0NTY1NDQ0NDQxNDQxNDQ0MTQ0NDQ0NDU0NDQ0NDQ0PTQ0NP/AABEIAOEA4QMBIgACEQEDEQH/xAAcAAEAAgMBAQEAAAAAAAAAAAAABQYBAwQHAgj/xABBEAACAQIEAwUFBAkDAwUAAAABAgADEQQSITEFQVEGImFxgRMykaGxQmJywRQjM1KCktHh8EOisgcW4hVTY2Rz/8QAGgEBAAMBAQEAAAAAAAAAAAAAAAECAwQFBv/EACgRAAICAQQBBAICAwAAAAAAAAABAhEDEiExQQQTIlFhMoFx8AVCkf/aAAwDAQACEQMRAD8A9miIgCIiAIiIAiIgCIiAIiIAiIgGIiVbHcbqElVAReu7W89h/msxzZo4lcgWWpWVd2C+ZA+sylQMLggjwN5RkrEnmepN7n1M6MPjmpNceo5EThj/AJJat1sRZdIkfw3iqVtB3WG6nfzHUSQnownGauLtEmYmmlXViwVgSps1jextexm6XAmImmtiUT3nVfNgPrIboG6JG/8AreHvb2q/P6zsoYhHF0YMOoIP0kKcXwwb4iJYCIiAIiIAiIgGImqvWVFLMbASGxfGze1NfNiPoP6/CY5c0Mf5ME9EgKXEqo3IPmP6SWwuKDrfYjcdJTF5WPI6TB0xIutxZVB0ub6Dw5EmcNTjjjko8wb/APKRLzMUewTOMxtOkM1Rwo8dz5Dc+k4aXaLDt/qBfMEfMi0o/HqNRg1UsanNr7hd9AOQ6CVujxPN5Tkl58m/atirlTPUuJdqKKABHV2PS5A8TaQp7XsraEOOdwAPQCxlQfNtY356RQLrc2FvG1vnpLepOTUm6+irkz07gvHBXpO5AVkvmAPK11PrYj0MrdR83gOZOgv08TK7R4j+j5irh84ysvIje9vTSdD8QBsygkefu+G2gmHlyeRL6LWTtAFjlRSzf5r1+klaXZ92F3fKegF/jYj85V+H12qtlRGLDWwJJt1203ElV4XiG/0T6sB9WmGCMeXFv+OCST/7ddSCjrcag6qfzkzgi5UrVXUC2YbMDzuNj1lQPD66nWgw/CL/ADW878Hga2hs6+dx9Z24Xofti19WESrYM0CXQi32r6XHjb6/SSWGxSuNDrzHSZw5LIMw1I1BH1ErPGuHPQJq0CQn2gCbrfmOq+HLy29BvSr6D2Jvi/EhRS+hY6AfUmef4vFNVYszE35npPrjFdjUYkWDMWAvyJJ9d+Uj6lYHmbeE4M+VyddFJOzeMom7D4hlYMjFW6g/LxHhHB8CK9QKCF095tfQDmfCWqp2OS3dqMG6kAj4CxHxMzjhnNaolUm90dnAeNCsMr2FQDlsw6joeo/wTs88xHDq+HYMRax7rLqL+fLyMu/DMV7Wmr7EjUeI0PzE7fHySftnyjSLfDO2IidRYREQBMROTH45KKZnNhyG5J6Ac5DaStgcSoF0KjfceJHKVN6gBsdPPS3nOLi/Ha1XQMaafuqbEjxbc/ScWFdgO8SRyvqfL+xnieZlhlktP/SrZP030OXvWF9NdOs38Px3esV3Vrja4sTILBY9kUhGYqTmI00I5fvWHwn3gsWS4a3MDfWxNifHecykotOL3CZvxOOJ128v7azCUHZQ3dW/2Tmzefu2+cVrJYFVVyzqNSbKpYAk765f91px0uI2bKQQb+h1+cJL/YmzoqVnR8hPe/d309NJCf8AbPs3NRfdvf2dgbE7BTfSxPynFxLizpWdmF3BAUHZbG/5DzuZxHtriVbMWRx+6UFrdLizfObY8bT9rKak+TdxKrqdTbznNSxHLfwMlMDxnC4khXoGm7dO8t/NbEfCR/afAijdkU5WPdsSeh5m/Ua9BNGpOW4rs1VCraDQ8vOakqMnh/moIM4eHsWWo7aLTCk237zWA+sttbgjvSR07wdFdWIylkZQRm31G2nSX0Sp2ErOXh2OdWDU2ak9iLr3tDuMpP8AWdgOY5quIdz9/N+ZMjW4Y6IHvc31ty5Dzk3h8Lg6ii1arQewvnXOt+dioGnnbykQk4LTGvnd0SXrszi1NJUzBivu63um4sedtRboJOzzej2dxAUtQqUqykg3R7EkbdAD6zqwfEMVRYLUzg9HuwIG9mN7+hnWvLcUtcWvvotZfpG4xfaVFp/ZHebxt7qn11t0nWK4yBzoMoY/C808MUkF23c38l+yPhr6zpl7qXySVri/Z11zNT/WKSWKNqRfU5ev185XVwftLmmh0tcXGl7233Gk9UkeeFpnZwLFxZwNm5hvBgefiZnPAm9iriUbhXAGr5h7UU2B906t1vl008bzrxQxuDAOcsnUd5fIhtVnxxoKtZlAN0sVIJBI+1a3NTf0mcP2nKjK2eqpFirKreYzBrn1BmSikvh/KZWkdeG7YBhlrUgQd8vMeKtp85JdnsbRzNTpOSrHMqsDdTzW+xFrW1vofOVh8HSr5nw9wRqyHdfJtiPO3nNnBA1HEUs6spzWswI0YFbi+413EqsklJXv9hN3uejTMxE7rNDMREsDVVcKpYmwAJJ6AamUHieLas5Zr22UfuryHnLB2pxhCrRX3n1PXLfQep+kjcB2fqObvemvj7x9OXrPP8rVkeiH7Ie5BuwG4vNb94d02I5HY/0lj4lwKhTFzXVPBtz5AG/yMqZ1ayDNrpY79NJ588EoOnRFG5KRLgiyaEvfYZULZgfQC/jMV2K5nU8r2/ObMSaiUz7NgHI1Om37qk6X+vXrxYbiYcUgwytUzLYCw9orZStuWa6kDq1ukPA0lsQ9ia42MwapY2DrY8ir0w9vQhv5hJLFcEWjhmZmHtDlsfvFh3RfztptvIviNdvYewsP2TMp+0XpFDb+RD8ZRKCMcTRcEsGqIbE6++uYXP8AmsvjjBN2rbW30yW6L12h4ImIIIGV1HvciOQbw8Z5tisC6OUdbMOX5jwnrK8Qp1Cyoysykq4F9Ct7/P8AOUri2N/SKjIUAC3VW+1cHZv8/tpjvgrKJEdn1dKqhFVi5AuQCV13F9BLJjMKzkU6wKEH9XUA63/VtyZdtPAeuvh2KFAA+xYna/u3PS9tTO9uMpW7jqUv15eINt51aYtVe4So48RwEmkyjIHfus6KQuhujMBtc6aC0uuCxOGpYPD0q2IpIy0kFi63ByDMMoNzKrisU1JEZr5STd8pykKQMt+V7g69R4yOw2Jw5e65Te/c0YX8LykZ6W00XO2tx/DIuRy7nW6qvIkkamw2tK5W4quY+yVrcsxH0W9/jOXHqzGzKbjnlNh112mzA8JrupenRqOo3ZUJ+HX0vMXBSStFG2TnCeJul2ap7IEWOTT0vuT62E60xDVKiLSVwc2l9C1+RXex8fPxmeB9lcTVIb2fsV/ee+b0B1HoJf8AgnZ6lhQWvme2rtyHOw5fWdOPE3GqpEpM6seMzU6A2OrAckXl5E2HwkpIvhALZqzb1D3fBBovx1PwkpOuG+5czERNARvE+FJWAzaMuzDcdR4g9JTeKcBdNchYdRqPO/L1nocTOWNSIcUzynD0WVg9NirL6EeHjLlwrHrWQhgquveZSO6wG7AH3T4jY9Zu4hwgPXpsBZSGL28LW9STJihh1QWVQvkPz5zLHjcW/giMWjV+nDo38sTrmZvTLCIiWBUeLY4U8SzBAzhVVSdl0JJt1729/rGE9viLs1VkpjcjujyFrX9ZKcU4SGJdQC25BAIa3nsbekrlTEM1lN9NAp0A8l2E4ZpqTvj4XYNXF8PRUhaDMzX1JAK+ml7357TTSohF7xu538PASRocNqH3UJJ+0RlHoTykjh+zbH9pUt4KLn+Zh+UosTk7SIK2aWY2PPSwFyT4CbB2WeiodbZ2eyBh+zzqKbMDfRm7o8N99rxguG06XuqL9TqfidvITZjqOemyjcg28G3U/G039D22+RRU6PBqimktSzFMx0N7oRkYX5mzN6SFodk2ouhN3C5amZVNlym/eJFhoDL4awb2FTbNof4ltb0M48RxGgtJ19ouZ1fKM18xOYAry1PSc7wwUn8CkVCn2SqqyurKGq3K2JBJsXF9O6QL63/tIYLhTLQFV7Go1RUICgatUFLvHmQSWJ6dTrLRRqK1KgysGylNQQbXXIRp+Kc2JXvMn/2KTfHIx/3KZt6UOCaK3xjs5VIN0IP71O5FxsSAc3ylCx6VqblXZr+JNj4gme6cTxq0aT1G2UfEnRR6kgTxDiWNqMzu5zM7EkHVSeluXQW5bSmTEofizOaRu4bx56aNTZEqqzBsrjMuYWBuPtAgC48BIqtXZi11VVJJyIoVAfBV0Am1aqHdLH8f/jefa5DZWXKCd1J05XIa9/lMHdFLLR2P7XLSy0cSqtT2WoRcr0DXvdfHceI29Tw1VHVWpsrKRcFSCCPAjSfnlqBzEA3AJ1Hgdx4S3/8AT3i7Ua/sySadTQixIDfZew26E9DrtOjDlaqL4Lxl0z16RfGXJC0V96qbE9FGrn4SUkRwtva1Hr7r7ifhB7zDzP5zqnvt8mhKUkCgACwAAA6AaATZETQCIiAIiIAiIgCIiAIiIBicmHwaq7vuzm97bCwAUfC/rOyYkNJ8gRMzkrcQpI2Vqiq2mhNt9pIOuYmZiAULi/FCtU4MjRmqG/3WXOoHqzfKU/DYolKV96dY0z+FmDp8LtJDtnWAxrPezJVS34cqqw+H0kPQ97EqORVx5o+v+1hPHy/m7/tMqzsw3EKiMQjspB5Hex0uNj6zo4xxOpisrXKlVAdQbBiCxSpl62Nj56bzlwmEZ8U9NBdmZsoOgNgXOvkDO2rwPEDLmp2zkhbspvYFiBYm2gO8zTnVK6ZDuiNq4urlNMu5Q2NizFQRqDaRVdWBII0nZjqFfDvke6mwIGa4IIuLEG2xE1/pFxrv46g+HhEcko7MzONBabv0VncIiljbYbDzJ0A15yRwWAFXYhdC1+QA1Nx5TdTxTKSqjIpOmXc+Z5mX9ZOiUiR4L2Iar+0Y5eYQWHkXO/kJ6FwXs9Rww7iKDzNvqTqfWVHgXaB6fdvnUe8p6b3XoflL/hMUtRA6G4Py6g9CJ3ePolxyaJJEf2ixLLTCJ+0rMKa+F/eb0W+vW0kMFhlpIlNdlUAenOQ3D2/SMVUrbpRvTp9C3+ow9dPICWGbR3bl+kWMxETUCIiAIiIAiIgCIiAIiIAiIgGJVe0PZQVr1KRyPva9gTz1G1/EfCWqJDSapg8wTF43DDIzVFC7ZrEgdNbq3mCRMDtfjVBPde37yqP+Nrz02pTBFiAR4yu8Y7O02KkWQE5WIUEi4IUi4N+/k0N9JlKMktmRR5h2ixL4gms6qjPYlb2sQAtwDqQct/WbMA3629hZ1sT+IW+tpPcY7F4hKbM1Ra4TUNbK2Xpl934GQ/EMA9NKNS2QZUD3IBDm9lsdT7rHwtrPPyxalT7sjg4MfxOpSrZqLAMrZr7gNva3nJvCdtqlQU0emoqKxZGW+Ukq4sym9gM19+VpWayamafZneRGTXBS2azXfOWZy5Y97MS17aDU7EcpYOD4vDLc1UL32UjQHzGhEh0XXXebsPSzE30AFyd7Af58xKvd2VLRwx6TBgtJhnLAZd/Z6EE9NQfMCcXGMKaFRkIOZbX1GlwGGo30Ikz2Jw5NYKw0p94j7wuVBPPU3v8AcHKTmE4ZSxj4w1FvavlVgbMMiKuh6abbS8cCyRvts107FFU98umgIFtfDS/ykrgOM1aKvlcKGBDaaKSLBx4g2me0HBf0WoqqSyMt1JHO5uum9tPiJF3N75bg6EW0tzE1hD09nyVumT3Haxwy0KNIsrIgLAN9okn7Jtf8rTVg+1eKXTMrj7wv873+cj8cj1GL5yzHUjQeg0kW2h7wJ8yZfW47INlyo9taysDUFHLzAzKfQlj9DLFgu1eHf7WU+Oo+I/pPLBXUfYX+W/1m4YjmVsPKSs7QUz2ilVVlBUhgdiDcH1myef8AYjiqq5pFjlfYHk/h5jT0E9AnVjmpKy6dozERLkiIiAIiIAiIgCIiAIiIBiacTTzKVvYkaHoeR9Dab5iQ1aoHGje1pkEWJBVh0NrEfH5WMqeJ4QuLSnTLFWVdGtfvpZbMOdwWMs1fELSrLdgBU0IJt3horeo7p/hkJjMUuGqPUa5RGLG2vddDa3rb4TiztJxb6dMEDiuzTvVSirU1dU7zEaNlCi+1yTcH4yP43wVKApAg5mTv2OgcA5wPAMCJI9lOMNVrU6rnVnZT/HmyjyDFQPACdfbtLuo53uPIrYf7g0xcY+m5L5K0mQ3EeyoRKVVQ7Iy3a1iVbmNF2I28QfCcH6KFGU3tfvcjYAEDbQ6z0Xs/jMuGqZtfYs3wZVrIP5aiiVyghVMXUcBmZFUAi9qjkOTY9FqUm8LHpLSxLZrtWydKPrsBUviMUToFVT5XJP0EnewutBnO9R2c/wARv9LSr9lHyUuI1NrqirYE94owG3iwlq4FjqNGiiM9jbbK1wLAai2nrNMTpx/bJXB09qfZjDsaihiPcHPOfdtbXz8AZCYXsmzU1cPZmFypGmuoGYajS3KaMdiTXxFMuGy5rKiqWIUG50G5YC5I5WHIy9psLaelvlNo1kk30tiKPOsZw6pRIDKQOu49CJEYrDFtV0P1nrjqCLEAjoZE4rs7QfUKUP3TYfA3Hykzw3wQ4nlHsTrp8v6TKUW18elxPQq3YxGP7UjzQH53nzV7JZUOSoWYC4BUAE9N9Ji8Ml0V0FY7NcLapXQC9lYMx6BTf+w856rOLh2FREGRcuYAnre3O/Ods6MUNKLpUZiImpIiIgCIiAIiIAiIgCIiAIiIBUf+oNNvYJUUXyP3vwMpBv4Xyj1EreAPtMLXTfukjytcfMt8J6bVpq6lWAZSLEEXBB3BErVfs9Sw6saIZQ5sVJuBcG2W+o15X5zz/Kwt3NfBFb2Ung+GNPB0K6EFmZyRf3WVlekD0Ngx/iEsvbUhjhqq7OBY9QbFf+U0cWwFOnRSqqsM6AEg6B11a48Vzm/LJ4zlqYlXwNIswzYeoyW65e8gt0CFL+RlJbRa+kxXRsxvFFQ5bgoVotVFv/bCqyjXvXvTXzEr1ftO7oaZQZnd3Z825fOLZbaZVZANfsCcXE8HUqZKgBszGnruWVVqMT/Nb+HqZ84nhbYbECjUys11903C5hmBJsNQPylXKWmyHZYOGO6UnQL+rqVUDMeqqGsD/Dr5jrLTSxC1FLEfqKWrf/LV5L+EG2/hKlUN/Y0gTfvORfQF8qpcdbKx8iJZcHhDiClJbrQpafjb7TH1vb+8iEnq+dqSJVkx2ewuYGu4uzEkE8hqCR0vcyenxTQKAo0AFgPAT7npY4aYpEmYiJoBERAEREAREQBERAEREAREQBERAEREAREQDE5sdTzIw8LjzGo+k3sdJ5N2gxmJevUbPVRRYKitlUgkhQGt6m3MC8yytKNPsvCDlwWDjuMC0q9AgXsKlG+mYXGdAeuUn0Y9JSqVO7pSvfMc7t9xVvc327oF/FjJLE8YSsAtXMHWxup0zAalT0Oukj+D1ga2JqOfepgLoTfMxLADrYL6GeXJSap9CUGujnx3aO1OnQdMgSo5LHW+ZldGII0sbj+EGdONXOwrkl2OrXN8xygAk89AAPCc9XE02CpWTOi7MygkHW41GltBbX5T7fFBWRUKezAIK5Mp11BLDRddLbDpNauKTI9KRJdn8r1XeowQnm2gA0G/QaeQE9XwWFWkgVRt8541icfSVG0Ld0nS217a9DqDtsZYuy3HMRmRVzuh5PqANgFbfcHS5+E1wKMHbReOKWk9NiYmZ3mQiIgCIiAIiIAiIgCIiAIiIAiIgCIiAIiIAiIgGJVO0VEZ9hqAdt5a5Cdo0GUNbXUTLMrgzo8WVZF9lHxHDKbG5RbjoSv00kfU4ciEgIxvzz33/ENDJ9xOasoPKec2+j2FCD5RCPQGgKObAjVk57nbf+8+hhFewKbC3v203+yOs7zTm1FtIi5WJY4JbI0Ybh6Lsi+ozfWXDsxSGYm2wP5CVymJcuziAITbc/lOrCrkcfk1GDom4iJ2nliIiAIiIAiIgCIiAIiIAiIgCIiAIiIAiIgCIiAYkV2gW9MHofyMlZwcZW9JvCx+cpNXFmmF1NfyUqpNLib6u80tPMZ7yNJWAJkzEhEs20RrLt2fW1LzY/lKVQ3l64KLUV9fqZ1+Pyed5j9v7JCIidh5oiIgCIiAIiIAiIgCIiAIiIAiIgCIiAIiIAiIgGJy8QS9Nh90/LWdU11hdWHUEfKVlxRMXTTKDX3mlpvxG5nO08uXJ9BHg1tPmZMxIRZm/D7y+cNFqSDwHz1lCw+8v+EPcUeA+k7PH7PN83pHTeZmAJkCdR54mYiSQIiIAiIgCIiAIiIAiIgCIiAIiIAiIgCIiAJgiZiAQmO4AjkspKk+Fx8JFVezVX7JQ+ZIP0Mt8TGWGD6N4eTkiqTKUezdf7v839p8v2NquBfEGj/+YVr+ZZdPS0u8SFggnZaXl5ZKrILh3ZunTy5i1Qi2p01HMgbmTaqBPqJqopcIwlOUncmZiIlioiIgCIiAIiIAiIgCIiAIiIAiIgCIiAIiIAiIgCIiAIiIAiIgCYmYgCIiAIiIAiIgCIiAIiIAiIgCIiAf/9k=") ;
    top: 600px;
    margin-left: 65%;
    margin-top: -12.5%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  .square-2 {
    width: 120px;
    height: 120px;
    background: black;
    left: 800px;
    top: 800px;
  }

  .box {
    width: 100%;
    height: 1000px;
  }

  @media screen and (max-width: 1000px){
    h1{
        font-size: 50px;
    }
    .text{
        font-size: 32px;
    }
    .plant{
        margin-top: -388px;
        margin-left: 230px;
        max-width: 512px;
        max-height: 512px;
    }
    .rowone{
        height: 50vh !important;
        padding-top: 80px;
    }
    .plantimage{
        background-image: none;
    }
    .slidercontainer{
        padding-top: 60%;
    }
  }

  @media screen and (max-width: 768px){
    .plant{
        margin-top: -100px;
        margin-left: auto;
        max-width: 384px;
        max-height: 384px;
        
    }
    .rowone{
        height: 50vh !important;
        padding-top: 80px;
    }
    .slidercontainer{
        padding-top: 70%;
    }
  }

  @media screen and (max-width: 630px){
    .slidercontainer{
        padding-top: 80%;
    }
  }

  @media screen and (max-width: 460px){
    h1{
        font-size: 36px;
    }
    .text{
        font-size: 24px;
    }
  }

  @media screen and (max-width: 380px){
    h1{
        font-size: 36px;
    }
    .text{
        font-size: 24px;
    }
  }