body {
    transform: translate3d(0px, 0px, 0px);
    transition: all 700ms ease;
}
.container{
    height: 100vh !important; 
    width: 100% !important; 
    max-width: none !important;
}
.slider img{
    width: auto;
    height: 100%;
    margin: auto;
    padding-top: 5%;
}
.box{
    height: 90vh;
}
footer{
    height: 50vh !important;
    width: 100%;
    background-color: gray;
}